@charaset "utf-8";
.cf::after {
    content: "";
    display: block;
    clear: both;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #ffc;
}

.box2 {
    width: 500px;
    height: 500px;
    background-color: #cfc;
}